body {
  background-color: rgb(191, 192, 188);
}
h1 {
  color: #e29930;
  text-shadow: 0.5px 0.5px 0.5px #217ca3;
  font-size: 34px;
  font-family: "Fredoka One", cursive;
  word-break: keep-all;
}
h3 {
  color: #212aa3;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
p {
  margin-top: 0;
  margin-bottom: auto;
}

ul {
  list-style-type: none;
  padding: 0;
}
.card {
  border-color: azure;
  width: 60%;
  background-color: rgb(168, 211, 249);
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}
.col-sm-6 {
  padding: 12px;
}
.predict {
  display: inline-flexbox;
  margin: 4px auto;
  text-align: center;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  outline: 2px solid #217ca3;
  border-radius: 7px;

  background-color: #ffffff;
  max-width: 110px;
}

.city {
  color: #212aa3;
  font-weight: bold;
  font-size: 32px;
}
.date {
  color: #212aa3;
  font-weight: bold;
  font-size: 20px;
}

.description {
  color: #212aa3;
  font-weight: bold;
  font-size: 20px;
  text-transform: capitalize;
}
#icon-description {
  font-size: 48px;
  color: #e29930;
  padding: 0px 0px 26px 0px;
}
.degrees {
  color: #212aa3;
  font-weight: bold;
  font-size: 56px;
}
.units {
  position: relative;
  font-size: 18px;
  top: -26px;
}

#celsius,
#divider,
#fahrenheit {
  text-decoration: none;
}
#city-current {
  text-transform: capitalize;
}
#celsius:hover {
  font-weight: bold;
}
#fahrenheit:hover {
  font-weight: bold;
}

.fa-solid {
  color: #e29930;
  font-size: 24px;
}
.degree-predict {
  color: #217ca3;
  font-size: 24px;
}

input[type="text"] {
  border-width: 3px;
  border-color: #217ca3;
  border-radius: 5px;
  width: 60%;
  background-color: #ffffff;
  color: #217ca3;
  margin: 4px 4px 4px 0px;
  padding: 3px 7px;
  box-shadow: 1px 2px 2px rgba(94, 92, 92, 0.7);
}
input[type="submit"] {
  background-color: #217ca3;
  color: white;
  border: none;
  padding: 3px 7px;
  border-radius: 5px;
  font-family: "Fredoka One", cursive;
  font-size: 18px;
  box-shadow: 1px 2px 2px rgba(94, 92, 92, 0.7);
}
input[type="submit"]:hover {
  background-color: #26e2a7;
}

button {
  background-color: #f8f7e1;
  color: #217ca3;
  font-family: "Fredoka One", cursive;
  border-radius: 7px;
  margin-top: 20px;
  max-width: 100%;
  padding: 5px 10px;
  border: none;
  font-size: 22px;
  display: block;
  box-shadow: 1px 2px 2px rgba(94, 92, 92, 0.7);
}
button:hover {
  background-color: #26e2a7;
  transition: all 200ms ease-in-out 2ms;
  color: white;
}
label {
  color: #d8922f;
  text-shadow: 0.5px 0.5px 0.5px #217ca3;
  word-break: break-all;
}
.github_link {
  text-align: center;
}
