body {
  background-color: rgb(167, 188, 215);
}
h1 {
  color: #e29930;
  text-shadow: 0.5px 0.5px 0.5px #217ca3;
  font-size: 36px;
  font-family: "Fredoka One", cursive;
  max-inline-size: 30%;
}
h3 {
  color: #217ca3;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
p {
  margin-top: 0;
  margin-bottom: auto;
}
.card {
  border-color: #217ca3;
  width: 60%;
  background-color: azure;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}
.predict {
  text-align: center;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}
.city {
  color: #217ca3;
  font-weight: bold;
  font-size: 32px;
}
.date {
  color: #217ca3;
  font-weight: bold;
  font-size: 20px;
}

.description {
  color: #217ca3;
  font-weight: bold;
  font-size: 20px;
  text-transform: capitalize;
}

.degrees {
  color: #217ca3;
  font-weight: bold;
  font-size: 48px;
}

#celsius,
#divider,
#fahrenheit {
  text-decoration: none;
  font-size: 28px;
}
#city-current {
  text-transform: capitalize;
}
#celsius:hover {
  font-weight: bold;
}
#fahrenheit:hover {
  font-weight: bold;
}
.fa-solid {
  color: #e29930;
  font-size: 24px;
}
.degree-predict {
  color: #217ca3;
  font-size: 24px;
}

input[type="text"] {
  border-width: 3px;
  border-color: #217ca3;
  border-radius: 5px;
  width: 60%;
  background-color: #ffffff;
  color: #217ca3;
  margin: 4px 4px 4px 0px;
  padding: 3px 7px;
  box-shadow: 1px 2px 2px rgba(94, 92, 92, 0.7);
}
input[type="submit"] {
  background-color: #217ca3;
  color: white;
  border: none;
  padding: 3px 7px;
  border-radius: 5px;
  font-family: "Fredoka One", cursive;
  font-size: 18px;
  box-shadow: 1px 2px 2px rgba(94, 92, 92, 0.7);
}
button {
  background-color: #217ca3;
  color: white;
  font-family: "Fredoka One", cursive;
  border-radius: 7px;
  margin-top: 20px;
  max-width: 100%;
  padding: 5px 10px;
  border: none;
  font-size: 22px;
  display: block;
  box-shadow: 1px 2px 2px rgba(94, 92, 92, 0.7);
}
label {
  color: #d8922f;
  text-shadow: 0.5px 0.5px 0.5px #217ca3;
}
