body {
  background: linear-gradient(-225deg, #217ca3 0%, #b8dcff 48%, #217ca3 100%);
}
h1 {
  color: #fcfdfd;
  text-shadow: 1px 1px 1px #212aa3;
  font-size: 36px;
  font-family: "Fredoka One";
  word-break: keep-all;
}
h3 {
  color: #212aa3;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  margin-top: 0;
  margin-bottom: auto;
}

ul {
  list-style-type: none;
  padding: 0;
}
.card {
  border-color: #217ca3;
  border-width: 2px;
  border-radius: 10px;
  width: 60%;
  background: linear-gradient(
    178deg,
    rgba(201, 234, 252, 0.51) 14.9%,
    rgba(139, 192, 216, 0.73) 80%
  );
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}
.col-sm-6 {
  padding: 12px;
}

.minmax {
  font-size: 12px;
  font-weight: bolder;
}
.predict {
  display: inline-flexbox;
  margin: 4px auto;
  text-align: center;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  outline: 2px solid #217ca3;
  border-radius: 15px 0px;

  background-color: #b2c7df;
  max-width: 110px;
}

.city {
  color: #212aa3;
  font-weight: bold;
  font-size: 32px;
}
.date {
  color: #212aa3;
  font-weight: bold;
  font-size: 20px;
}

.description {
  color: #212aa3;
  font-weight: bold;
  font-size: 20px;
  text-transform: capitalize;
}
#icon-description {
  font-size: 48px;
  padding: 0px 0px 26px 0px;
}
#city-current {
  text-transform: capitalize;
}

.degrees {
  color: #212aa3;
  font-weight: bold;
  font-size: 52px;
}
.units {
  position: relative;
  font-size: 18px;
  top: -26px;
}

#celsius:hover {
  font-weight: bold;
}
#fahrenheit:hover {
  font-weight: bold;
}
a#celsius {
  color: #212aa3;
  text-decoration: none;
}
a#fahrenheit {
  color: #212aa3;
  text-decoration: none;
}

.active {
  font-weight: bold;
}

#day-one,
#day-two,
#day-three,
#day-four,
#day-five {
  font-weight: bold;
  color: #212aa3;
}
#day-one-description,
#day-two-description,
#day-three-description,
#day-four-description,
#day-five-description {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  color: #212aa3;
}
.degree-predict {
  color: #212aa3;
  font-size: 20px;
  font-weight: bolder;
}
#min-deg-d1,
#min-deg-d2,
#min-deg-d3,
#min-deg-d4,
#min-deg-d5 {
  color: #212aa3;
  font-size: 18px;
}

input[type="text"] {
  border-width: 3px;
  border-color: #217ca3;
  border-radius: 5px;
  width: 60%;
  background-color: #ffffff;
  color: #217ca3;
  margin: 4px 4px 4px 0px;
  padding: 3px 7px;
  box-shadow: 1px 2px 2px rgba(94, 92, 92, 0.7);
}
input[type="submit"] {
  background-color: #217ca3;
  color: white;
  border: none;
  padding: 3px 7px;
  border-radius: 5px;
  font-family: "Fredoka One", cursive;
  font-size: 18px;
  box-shadow: 1px 2px 2px rgba(94, 92, 92, 0.7);
}
input[type="submit"]:hover {
  background-color: #212aa3;
}

button {
  background-color: #f8f7e1;
  color: #217ca3;
  font-family: "Fredoka One", cursive;
  border-radius: 7px;
  margin-top: 20px;
  max-width: 100%;
  padding: 5px 10px;
  border: none;
  font-size: 22px;
  display: block;
  box-shadow: 1px 2px 2px rgba(94, 92, 92, 0.7);
}
button:hover {
  background-color: #212aa3;
  transition: all 200ms ease-in-out 2ms;
  color: white;
}
label {
  color: #fcfdfd;
  text-shadow: 1px 1px 1px #212aa3;
  word-break: break-all;
  font-size: 22px;
}

.github_link {
  text-align: center;
}
